:root {
    --red: #dc3545;
  }

  /*! ---------------------- 1- NAVBAR ----------------------------- */
.navbar-light {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    transition: color 1s;
  }
  
  .navbar-light .nav-link:hover {
    color: var(--red);
  }